## Data Collection and Wrangling - Simple Example

## 1. Data Collection / Creation

In [ ]:
# import libraries
import pandas as pd
import numpy as np

In [ ]:
# prepare data as list
data = {'Name': ['Akbar', 'Ali', 'Elsa', 'Jon', 'Tom', 'Kattie', 'Huda'],
        'Age': [13, 14, 15, 14, 14, 18, 19],
        'Gender':['M', 'M', 'F', 'M', 'M', 'F', 'F'] ,
        'Marks': [90, 76, 59, 'NaN', 89, 'NaN', 'NaN']
}

In [ ]:
# convert into DataFrame
df = pd.DataFrame(data)

In [ ]:
df

## 2. Assessment

In [ ]:
# dataframe information
df.info()

In [ ]:
# data types
df.dtypes

In [ ]:
# see first few and last few records
print(df.head())
print('<<<<<<<<<<<<<<<<')
print(df.tail())

In [ ]:
# extract sample rows
df.sample(3)

## 3. Cleaning

In [ ]:
# replace NA string to numpy NA value
new_df = df.replace('NaN', np.nan)

In [ ]:
# extract dataframe information
new_df.info()

### Dealing with Missing Values

In [ ]:
# compute average
c = avg = 0
for ele in df['Marks']:
    if str(ele).isnumeric():
        c += 1
        avg += ele
avg /= c

In [ ]:
# Replace missing values
df = df.replace(to_replace="NaN",
                value=avg)

In [ ]:
# Display data
df

In [ ]:
new_df

In [ ]:
new_df.info()

In [ ]:
new_df['Age'].mean()

In [ ]:
new_df[['Marks','Age']].mean()

In [ ]:
# compute mean without skipping NAs
new_df.mean(axis=1, skipna = False)

### Reshaping the Data

In [ ]:
# reshape / map data
df['Gender'] = df['Gender'].map({'M': 0,
                 'F': 1}).astype(float)

In [ ]:
df.info()

### Filtering

In [ ]:
# filter rows
higher_std = df[df['Marks'] >= 80]

In [ ]:
higher_std

### Delete/Dropping Column

In [ ]:
# Remove age row
new_drp = df.drop(['Gender', 'Age'], axis=1)

In [ ]:
#isplay adta
new_drp

In [ ]:
df