## PANDAS LIBRARY
### Series

In [1]:
import pandas as pd
import numpy as np

In [3]:
#creating empty series from constructor
ser = pd.Series()
print(ser)

Series([], dtype: float64)

<ipython-input-3-abfcf6cdd3f6>:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series()

In [5]:
#simple arry
data = np.array(['a', 'e', 'i', 'o', 'u'])
ser = pd.Series(data)
print(ser)

0    a
1    e
2    i
3    o
4    u
dtype: object

### Dataframe

In [6]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [11]:
# creating list of strings
lst = ['We', 'are', 'trying', 
       'DataFrame', 'creation']

df = pd.DataFrame(lst)
print(df)

           0
0         We
1        are
2     trying
3  DataFrame
4   creation

### Reading CSV File

In [12]:
# Load Pandas
import pandas as pd
# Read the csv file
df = pd.read_csv("Datasets/data1.csv")

# First 5 rows
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

### Reading an Excel File

In [14]:
import pandas as pd

df = pd.read_excel(r'Datasets/readfile.xlsx', index_col=2)
print(df)

         Unnamed: 0    Name  maths  science  english
Roll no
1                 0   Robin     93       88       93
2                 1  Ariana     63       66       74
3                 2   Peter     55       66       84
4                 3    John     94       94       92
33                4  Michal     83       77       87

### Reading Json File

In [17]:
# Read JSON file
import pandas as pd

df = pd.read_json(r'Datasets/example_2.json')

print(df)
#print(df.to_string())

                                                    quiz
maths  {'q1': {'question': '5 + 7 = ?', 'options': ['...
sport  {'q1': {'question': 'Which one is correct team...

In [18]:
# JSON objects have the same format as Python dictionaries.

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

### Read SQL Query

In [19]:
from sqlite3 import connect

In [20]:
# connect with database
conn = connect("Datasets\stocks.db")

In [21]:
# read csv file
data = pd.read_csv("Datasets\FB.csv")

In [22]:
#save data into a sql table
data.to_sql("meta",conn)

C:\Users\sana-\anaconda3\lib\site-packages\pandas\core\generic.py:2779: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [27]:
#select all data from table
df = pd.read_sql("SELECT * FROM meta WHERE date = '2021-01-25'",conn)

In [28]:
print(df)

   index        Date        Open        High        Low      Close  Adj Close  \
0      0  2021-01-25  278.140015  280.100006  271.51001  278.01001  278.01001

     Volume
0  19087000

In [29]:
#must close DB connection
conn.close()

## NUMPY LIBRARY